<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spell Check</title>
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="content">

        <div class="form-div">
            <form action="upload-file" method="post" enctype="multipart/form-data">

                <input type="file" name="file">
                <input type="submit" class="btn-submit"></input>

            </form>
        </div>

        <div class="text-div">
            <% if(fileContent.length){
                var fileArray = fileContent.split(/\s+/);
                for(var i=0; i < fileArray.length; i++){ if(errors.includes(fileArray[i])){ %>
                <span class="data error">
                    <%=fileArray[i]%>
                </span>
                <% } else{%>
                    <span class="data">
                        <span class="data">
                    <%=fileArray[i]%>
                    </span>
                <% } %>
                
                <% } %>
                      
                <%  }  %>
                       
        </div>

    </div>
</body>

</html>